{% extends "includes/dashboard_base.html" %}
{% load static %}

{% block title %}
Health Summary
{% endblock %}

{% block sidebar %}
    {% include "patients/dashboard/sidebar.html" %}
{% endblock %}



{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/patient_health_summary.css' %}">
{% endblock %}
<div class="health-page">

    <!-- ===================================== -->
    <!-- HERO -->
    <!-- ===================================== -->

    <div class="health-hero">

        <div class="hero-text">

            <h1>❤️ Health Summary</h1>

            <p>
                A yearly overview of your health journey, consultations,
                and personalized wellness recommendations.
            </p>

        </div>

        <div class="hero-year">

            <span>2026</span>

            <small>Health Report</small>

        </div>

    </div>

    <div class="summary-card">

        <h2>
            📅 This Year's Health Summary
        </h2>

        <p>

           {{ summary|linebreaks }}
        </p>

    </div>

    <!-- ===================================== -->
    <!-- OVERALL -->
    <!-- ===================================== -->

 <div class="summary-card">

    <h2>
        📊 Patient Information
    </h2>

    <p>
        <strong>Name:</strong>
        {{ patient.first_name }} {{ patient.last_name }}
    </p>

    <p>
        <strong>Age:</strong>
        {{ patient.age }} years old
    </p>

    <p>
        <strong>Sex:</strong>
        {{ patient.sex }}
    </p>

    <p>
        <strong>Blood Type:</strong>
        {{ patient.blood_type }}
    </p>

    <p>
        <strong>Height:</strong>
        {{ patient.height }} cm
    </p>

    <p>
        <strong>Weight:</strong>
        {{ patient.weight }} kg
    </p>

</div>

    <!-- ===================================== -->
    <!-- RECOMMENDATIONS -->
    <!-- ===================================== -->

   <div class="summary-card">

    <h2>
        💡 AI Recommendations
    </h2>


    <p>
        {{ summary|linebreaks }}
    </p>


</div>
    <!-- ===================================== -->
    <!-- QUOTE -->
    <!-- ===================================== -->

    <div class="quote-card">

        <div class="quote-icon">
            ❤️
        </div>

        <blockquote>

            "Good health is built through consistent care, healthy habits,
            and regular medical check-ups. Every small step you take today
            contributes to a healthier tomorrow."

        </blockquote>

        <span>
            — CareNest Wellness Reminder
        </span>

    </div>

</div>

{% endblock %}