{% extends "includes/dashboard_base.html" %}
{% load static %}

{% block title %}
Create Medical Record
{% endblock %}

{% block sidebar %}
{% include "doctors/dashboard/sidebar.html" %}
{% endblock %}


{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/doctor_create_medical.css' %}">
{% endblock %}
<div class="record-page">

    <div class="record-card">

        <h2>Create Medical Record</h2>

        <div class="patient-info">

            <div>
                <label>Patient</label>
                <p>{{ appointment.patient.user.get_full_name }}</p>
            </div>

            <div>
                <label>Doctor</label>
                <p>{{ appointment.doctor.user.get_full_name }}</p>
            </div>

            <div>
                <label>Date</label>
                <p>{{ appointment.date }}</p>
            </div>

          

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>Diagnosis</label>

                <textarea
                    name="diagnosis"
                    rows="5"
                    required
                    placeholder="Enter diagnosis..."
                ></textarea>

            </div>

            <div class="form-group">

                <label>Prescription</label>

                <textarea
                    name="prescription"
                    rows="5"
                    required
                    placeholder="Enter prescription..."
                ></textarea>

            </div>

            <div class="form-group">

                <label>Doctor's Notes</label>

                <textarea
                    name="notes"
                    rows="4"
                    placeholder="Additional notes..."
                ></textarea>

            </div>

            <button type="submit" class="save-btn">

                Save Medical Record

            </button>

        </form>

    </div>

</div>

{% endblock %}