{% extends "includes/dashboard_base.html" %}
{% load static %}

{% block title %}Patient Dashboard{% endblock %}

{% block sidebar %}
{% include "patients/dashboard/sidebar.html" %}
{% endblock %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/patient_dashboard.css' %}">
{% endblock %}
<div class="patient-dashboard">

    <section class="welcome-section">

        <div class="welcome-left">

            <h1>
                Good Day, {{ request.user.first_name }} 👋
            </h1>

            <p>
                Welcome back to CareNest Hospital Management System.
                Manage your appointments, prescriptions, and medical records in one place.
            </p>

        </div>

        <div class="welcome-divider"></div>

        <div class="welcome-right">

            <span class="today-label">
                Today
            </span>

            <h2>
                {% now "l" %}
            </h2>

            <p>
                {% now "F j, Y" %}
            </p>

        </div>

    </section>

    <!-- ==========================
     SUMMARY CARDS
========================== -->

    <section class="summary-cards">

        <!-- Appointments -->
        <div class="summary-card appointments">

            <div class="card-icon">📅</div>

            <h2>{{appointment_count }}</h2>

            <h3>Appointments</h3>

            <p>
                You have {{appointment_count }} upcoming appointments scheduled.
            </p>

            <a href="{% url 'patient_appointment_list' %}" class="card-link"
                class="{% if request.resolver_match.url_name == 'patient_appointment_list' %}active{% endif %}">
                View Details →
            </a>

        </div>

        <!-- Prescriptions -->
        <div class="summary-card prescriptions">

            <div class="card-icon">💊</div>

            <h2>❤️</h2>

            <h3>Health Summary</h3>

            <p>
                View your health summary (AI generated summary)
            </p>

            <a href="{% url 'patient_health_summary' %}"class="card-link"
            class="{% if request.resolver_match.url_name == 'patient_health_summary' %}active{% endif %}">
             View Details →
            </a>

        </div>

        <!-- Medical Records -->
        <div class="summary-card records">

            <div class="card-icon">📋</div>

            <h2>{{medical_record_count}} </h2>

            <h3>Medical Records</h3>

            <p>
                Access your complete medical history and laboratory results.
            </p>

            <a href="{% url 'patient_medical_record' %}" class="card-link"
                class="{% if request.resolver_match.url_name == 'patient_medical_record' %}active{% endif %}">
                View Details →
            </a>

        </div>

        <div class="summary-card doctors">

            <div class="card-icon">👨‍⚕️</div>

            <h2>{{doctor_count }}</h2>

            <h3>Doctors </h3>

            <p>
                Browse available doctors and find the right specialist for your consultation.
            </p>

            <a href="{% url 'doctor_list' %}" class="card-link"
                class="{% if request.resolver_match.url_name == 'doctor_list' %}active{% endif %}">
                View Doctors →
            </a>

        </div>

    </section>

    <!-- ==========================
     UPCOMING APPOINTMENT
========================== -->

    <section class="appointment-panel">

        <div class="panel-header">

            <div>
                <span class="panel-tag">NEXT VISIT</span>
                <h2>Upcoming Appointment</h2>
            </div>

            <a href="{% url 'patient_appointment_list' %}" class="panel-link"
                class="{% if request.resolver_match.url_name == 'patient_appointment_list' %}active{% endif %}">

                View All →
            </a>

        </div>

        <div class="appointment-card">

            {% if upcoming_appointment %}

            <div class="appointment-doctor">

                <div class="doctor-avatar">
                    👨‍⚕️
                </div>

                <div>

                    <h3>Dr. {{ upcoming_appointment.doctor.user.get_full_name }}</h3>

                    <p>
                        {{ upcoming_appointment.doctor.specialization }}
                    </p>

                </div>

            </div>

            <div class="appointment-details">

                <div class="detail-box">
                    <span>📅 Date</span>
                    <strong>
                        {{ upcoming_appointment.date|date:"F j, Y" }}
                    </strong>
                </div>

                <div class="detail-box">
                    <span>🕘 Time</span>
                    <strong>
                        {{ upcoming_appointment.time_period }}
                    </strong>
                </div>

                <div class="detail-box">
                    <span>📍 Status</span>
                    <strong>
                        {{ upcoming_appointment.status }}
                    </strong>
                </div>

                <div class="detail-box">
                    <span>🩺 Reason</span>
                    <strong>
                        {{ upcoming_appointment.reason }}
                    </strong>
                </div>

            </div>

            <!-- <div class="appointment-actions">
                <a href="{% url 'appointment_detail' upcoming_appointment.id %}" class="primary-btn">
                    View Details
                </a> -->


            </div>

            {% else %}

            <div class="no-appointment">

                <h3>No Upcoming Appointment</h3>

                <p>
                    You don't have any upcoming appointments scheduled.
                </p>

            </div>

            {% endif %}

        </div>

    </section>


    <!-- ==========================
     LOWER DASHBOARD
========================== -->

    <section class="dashboard-bottom">

        <!-- Appointment History -->
        <div class="panel">

            <div class="panel-header">

                <div>
                    <span class="panel-tag">
                        HISTORY
                    </span>

                    <h2>Appointment History</h2>
                </div>

              <a href="{% url 'patient_appointment_list' %}" class="panel-link"
                class="{% if request.resolver_match.url_name == 'patient_appointment_list' %}active{% endif %}">

                View All →
            </a>

            </div>
            <div class="history-container">

    <table class="history-table">

        <thead>

            <tr>
                <th>Date</th>
                <th>Doctor</th>
                <th>Department</th>
                <th>Status</th>
            </tr>

        </thead>


        <tbody>


        {% for appointment in appointments %}

            <tr>

                <td>
                    {{ appointment.date|date:"M j, Y" }}
                </td>


                <td>
                    Dr. {{ appointment.doctor.user.get_full_name }}
                </td>


                <td>
                    {{ appointment.doctor.specialization }}
                </td>


                <td>

                    <span class="status {{ appointment.status|lower }}">

                        {{ appointment.status }}

                    </span>

                </td>

            </tr>


        {% empty %}

            <tr>

                <td colspan="4" class="empty-history">

                    No appointment history found.

                </td>

            </tr>


        {% endfor %}


        </tbody>

    </table>

</div>
        </div>

        <!-- ==========================
     PATIENT PROFILE
========================== -->
<div class="panel profile-panel">


    <div class="profile-header">


        {% if patient.profile_picture %}

            <img 
                src="{{ patient.profile_picture.url }}" 
                alt="Patient"
            >

        {% else %}

            <img 
                src="{% static 'images/CarenestLOGO.png' %}" 
                alt="Patient"
            >

        {% endif %}



        <h2>
            {{ patient.first_name }} {{ patient.last_name }}
        </h2>



        <span class="profile-badge">
            Patient
        </span>


    </div>




    <div class="profile-details">


        <div class="detail-row">

            <span>
                🆔 Patient ID
            </span>

            <strong>
                PT-{{ patient.id|stringformat:"04d" }}
            </strong>

        </div>



        <div class="detail-row">

            <span>
                📧 Email
            </span>

            <strong>
                {{ patient.user.email }}
            </strong>

        </div>



        <div class="detail-row">

            <span>
                📞 Phone
            </span>

            <strong>
                {{ patient.contact_number }}
            </strong>

        </div>


    </div>




    <div class="profile-actions">

        <a href="{% url 'patient_account' %}" class="primary-btn">
            View Profile
        </a>

    </div>


</div>

    </section>



</div>

{% endblock %}