{% block sidebar %}

<ul>

    <li>
        <a href="{% url 'patient_dashboard' %}"
            class="{% if request.resolver_match.url_name == 'patient_dashboard' %}active{% endif %}">
            Dashboard
        </a>
    </li>

    <li>
        <a href="{% url 'patient_appointment_list' %}"
            class="{% if request.resolver_match.url_name == 'patient_appointment_list' %}active{% endif %}">
            My Appointments
        </a>
    </li>
    <li>
       <a href="{% url 'patient_medical_record' %}"
            class="{% if request.resolver_match.url_name == 'patient_medical_record' %}active{% endif %}">
            Medical Records
        </a>
    </li>

    <li>
        <a href="{% url 'health_summary' %}"
            class="{% if request.resolver_match.url_name == 'patient_health_summary' %}active{% endif %}">
            Health Summary
        </a>
    </li>

    <li>
        <a href="{% url 'patient_account' %}"
            class="{% if request.resolver_match.url_name == 'patient_account' %}active{% endif %}">
            Account
        </a>
    </li>

    <li>
    <a href="#" onclick="confirmLogout(event)">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
    </a>
</li>

</ul>

{% endblock %}
