{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}CareNest{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/dashboard_base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <!-- Header -->
    <header class="dashboard-header">

        <div class="header-left">

            <button class="menu-btn" id="menu-toggle">
                ☰
            </button>

            <div class="brand">

                <img src="{% static 'images/CarenestLOGO.png' %}" alt="CareNest Logo" class="logo">

                <div class="brand-text">
                    <span class="hospital-name">CareNest Hospital</span>
                    <span class="tagline">Appointment System</span>
                </div>

            </div>

        </div>

        <div class="header-right">

            <span class="welcome-text">Welcome,</span>

            <span class="user-name">
                {{ request.user.first_name }}
            </span>

        </div>

    </header>
<aside class="sidebar" id="sidebar">
<div class="sidebar-title">
    CareNest Services
</div>
    {% block sidebar %}
    <!-- Default sidebar -->
    {% endblock %}

</aside>
    <!-- Main Content -->
    <main class="dashboard-content" id="dashboard-content">
    {% block content %}
    {% endblock %}
</main>

    <!-- Footer -->
    <footer class="dashboard-footer">

        <p>
            © 2026 CareNest • Hospital Management System
        </p>

    </footer>
<script>
const menuButton = document.getElementById("menu-toggle");
const sidebar = document.getElementById("sidebar");
const content = document.getElementById("dashboard-content");


menuButton.addEventListener("click", () => {

    sidebar.classList.toggle("active");
    content.classList.toggle("shift");
    

});
</script>
<script>
function confirmLogout(event){
    event.preventDefault();

    Swal.fire({
        title: 'Logout?',
        text: 'Are you sure you want to logout?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#7c4dff',
        cancelButtonColor: '#9ca3af',
        confirmButtonText: 'Yes, Logout',
        cancelButtonText: 'No',
        reverseButtons: true,
        backdrop: true
    }).then((result) => {
        if(result.isConfirmed){
            window.location.href = "{% url 'home' %}";
        }
    });
}
</script>   
</body>

</html>