 <section class="hero">
            <div class="hero-content">
                <h1>Safe Hands. Gentle Hearts</h1>
                <p>Bringing together medical excellence and the warmth of compassionate care.</p>
              
            </div>  
            
            <div class="bubble-static-container">
                <div class="bubble-static bs1"></div>
                <div class="bubble-static bs2"></div>
                <div class="bubble-static bs3"></div>
                <div class="bubble-static bs4"></div>
                <div class="bubble-static bs5"></div>
                
                <div class="micro-bubble m1"></div>
                <div class="micro-bubble m2"></div>
                <div class="micro-bubble m3"></div>
            </div>

            <div class="bubble-nest">
                <div class="bubble-float bf1"></div>
                <div class="bubble-float bf2"></div>
                <div class="bubble-float bf3"></div>
                <div class="bubble-float bf4"></div>
                <div class="bubble-float bf5"></div>
            </div>
        </section>