{% extends "base.html" %}
{% load static %}

{% block title %}Forgot Password | CareNest{% endblock %}



{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}
<div class="forgot-wrapper">

    <div class="forgot-card">

        <div class="forgot-icon">
            <i class="fa-solid fa-lock"></i>
        </div>

        <h2>Forgot Password?</h2>

        <p>
            Enter your registered email address below.
            We'll send you instructions to reset your password.
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">
                <label>Email Address</label>

                <div class="input-box">
                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        required
                    >
                </div>
            </div>

            <button type="submit" class="send-btn">
                <i class="fa-solid fa-paper-plane"></i>
                Send Reset Link
            </button>

        </form>

        <div class="bottom-links">

            <a href="{% url 'login' %}">
                <i class="fa-solid fa-arrow-left"></i>
                Back to Login
            </a>

        </div>

    </div>

</div>

{% endblock %}